@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,100;1,400&display=swap');
:root{
    --green: #5db4e3;
    --black: #1b8bcc;
    --box-shadow: .5rem .5rem 0 rgba(20, 145, 228, 0.2);
    --text-shadow: .4rem .4rem 0 rgb(0, 0, 0, .2);
    --border: .2rem solid var(--green);
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all .2s ease-in;
    text-decoration: none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
section{
    padding: 2rem 9%;
}
section:nth-child(even){
    background: #f5f5f5;
}
.heading{
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color: rgb(13, 58, 86);
    font-size: 5rem;
    letter-spacing: .4rem;
}
.heading span{
    text-transform: uppercase;
    color: var(--green);
}
.button{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color: var(--green);
    cursor: pointer;
    font-size: 1.7rem;
}
.button i{
    padding: .7rem 1rem;
    border-radius: .5rem;
    background: var(--green);
    color: #fff;
    margin-left: .5rem;
}
.button:hover{
    background: rgb(23, 105, 155);
    color: #fff;
}
.button:hover i{
    background: #fff;
    color: var(--green);
}
.header{
    padding: 2rem 9%;
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}
.header .logo{
    color: aqua;
    font-size: 25px;
}
.header .logo .medsense{
    text-shadow: 1px 1px 2px rgba(24, 23, 23, 0.429);
}
.header .logo i{
    color: rgb(23, 105, 155);
    font-size: 25px;
} 
.header .navbar a{
    color: rgb(23, 105, 155);
    font-size: 1.7rem;
    margin-left: 2rem;
}
.header .navbar a:hover{
    color: rgb(13, 58, 86);
}
#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background: #eee;
    color: rgb(23, 105, 155);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}

.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 10rem;
}
.home .image{
    flex: 1 1 45rem;
}
.home .image img{
    width: 100%;
}
.home .content{
    flex: 1 1 45rem;
}
.home .content h1{
    font-size: 4.5rem;
    color: rgb(13, 58, 86);
    line-height: 1.8;
    text-shadow: var(--text-shadow);
}
.home .content p{
    font-size: 1.5rem;
    color: rgb(23, 105, 155);
    line-height: 1.8;
    padding: 1rem 0;
}

.icons-container{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.icons-container .icons{
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
    padding: 2.5rem;
}
.icons-container .icons i{
    font-size: 4.5rem;
    color: var(--green);
    padding-bottom: .7rem;
}
.icons-container .icons h1{
    font-size: 4.5rem;
    color: rgb(13, 58, 86);
    padding-bottom: .5rem 0;
    text-shadow: var(--text-shadow);
}
.icons-container .icons p{
    font-size: 1.7rem;
    color: rgba(23, 104, 155, 0.603);;
    padding-bottom: .5rem 0;
}

.services .box-container{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
}
.services .box-container .box{
    background: #fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 2.5rem;
}
.services .box-container .box i{
    color: var(--green);
    font-size: 5rem;
}
.services .box-container .box h3{
    color: rgb(13, 58, 86);
    font-size: 2.5rem;
    padding: 1rem 0;
}
.services .box-container .box p{
    color: rgba(23, 104, 155, 0.603)
    font-size: 1.4rem;
    line-height: 2;
}





























.copyright{
    width: 100%;
    text-align: center;
    padding: 9px 0;
    background: rgba(20, 145, 228, 0.2);
    box-shadow:  -1em 0 .6em rgba(0, 0, 0, .1);
    text-shadow: 0 0 0.2em rgba(0, 0, 0, .1);
    font-weight: 300;
    margin-top: 20px;
    font-size: 10px;
}
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
}
@media (max-width:768px){
    #menu-btn{
        display: initial;
    }
    .header .navbar{
        position: absolute;
        top: 115%; right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }

    .header .navbar.active{
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    }
    .header .navbar a{
        font-size: 2rem;
        display: block;
        margin: 2.5rem;

    }
}
@media (max-width:450px){
    html{
        font-size: 50%;
    }
}